<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../static/css/style.css">
    <link rel="stylesheet" href="../../static/css/styleCommu.css">
    <link rel="Icon" href="../../static/img/logonaciones.png">
    <title>Colegio Naciones Unidas - Comunidad</title>
</head>
<body>
    <header>
        <div class="title-logo">
            <img src="../../static/img/logonaciones.png" alt="LogoEmpresa">
            <p>
                Colegio Naciones Unidas I.E.D 
            </p>
        </div>

        <div class="hamburger">
            <div class="line"></div>
            <div class="line"></div>
            <div class="line"></div>
        </div>

        <nav class="nav-bar">
            <ul>
                <div class="op">
                    <li>
                        <a href="../index.html" class="active">Inicio</a>
                    </li>
                    <li>
                        <a href="AboutUs.html">Sobre nosotros</a>
                    </li>
                    <li>
                        <a href="community.html">Comunidad</a>
                    </li>
                </div>

                <li>
                    <a href="login.html" class="nav-button">Iniciar Sesion</a>
                </li>
            </ul>
        </nav>
    </header>
    
    <main>
        <div class="img-present">
            <h1>
                Comunidad Educativa
            </h1>
        </div>

        <div class="objetivo">
            <div class="todo">
                <div class="parraob">
                    <div class="obje">
                        <h2>Preescolar</h2>
                    </div>

                    <div class="info">
                        <p>
                            El nivel preescolar en el Colegio Naciones Unidas es un entorno lleno de descubrimientos y 
                            aprendizaje temprano, diseñado para sentar las bases sólidas de la educación de nuestros estudiantes 
                            más jóvenes. En este nivel, enfocamos nuestra atención en estimular el desarrollo cognitivo, social y 
                            emocional de cada niño. Nuestro programa educativo integra de manera creativa el juego y la exploración 
                            como herramientas esenciales para el aprendizaje. A través de actividades lúdicas y dinámicas, fomentamos 
                            la adquisición de habilidades fundamentales, como la comunicación, la resolución de problemas y la cooperación. 
                            Además, promovemos la curiosidad natural de los niños y les proporcionamos experiencias enriquecedoras que nutren 
                            su desarrollo artístico, físico y emocional. Nuestra dedicada facultad de educadores especializados en la primera 
                            infancia trabaja en estrecha colaboración con los padres para garantizar que cada estudiante alcance su máximo 
                            potencial. En el Colegio Naciones Unidas, entendemos que el nivel preescolar es un período crítico para el crecimiento
                             y la preparación de nuestros pequeños, y estamos comprometidos en proporcionar un ambiente seguro y estimulante
                              donde florezcan como individuos confiados y curiosos.
                        </p>
                    </div>
                </div>
                <div class="img"></div>
            </div>
        </div>

        <div class="objetivo" id="objetivo">
            <div class="todo">
                <div class="img1"></div>

                <div class="parraob">
                    <div class="obje">
                        <h2>Primeraria</h2>
                    </div>

                    <div class="info">
                        <p>
                            La educación en el nivel de primaria del Colegio Naciones Unidas se caracteriza por su enfoque integral 
                            en el desarrollo académico y personal de cada estudiante. Nuestro programa educativo se basa en la idea 
                            de que la adquisición de conocimientos va de la mano con el desarrollo de habilidades esenciales para la 
                            vida. Los estudiantes de primaria participan en un currículo riguroso que abarca una amplia gama de 
                            disciplinas académicas, al tiempo que se fomenta el pensamiento crítico, la creatividad y la resolución 
                            de problemas. Además, se enfatiza la importancia de las habilidades de comunicación, tanto en su lengua 
                            materna como en otros idiomas, lo que les permite ser ciudadanos del mundo con una comprensión global. 
                            Además, fomentamos la participación en actividades extracurriculares que enriquecen su desarrollo personal, 
                            como el deporte, la música y el arte. Nuestra comunidad educativa trabaja en estrecha colaboración para 
                            garantizar que cada estudiante alcance su máximo potencial, promoviendo valores éticos y ciudadanía activa. 
                            En el nivel de primaria del Colegio Naciones Unidas, estamos comprometidos en formar a estudiantes que sean 
                            no solo académicamente competentes, sino también ciudadanos responsables y seguros de sí mismos que puedan 
                            enfrentar con éxito los desafíos de la vida y contribuir positivamente a la sociedad.
                        </p>
                    </div>
                </div>
            </div>
        </div>

        <div class="objetivo" id="objetivo">
            <div class="todo">
                <div class="parraob">
                    <div class="obje">
                        <h2>Bachillerato</h2>
                    </div>

                    <div class="info">
                        <p>
                            El nivel de bachillerato en el Colegio Naciones Unidas representa el culmen de nuestra misión educativa, 
                            donde nuestros estudiantes se preparan para enfrentar con éxito los desafíos académicos y personales que 
                            les aguardan en la universidad y en la vida. Nuestro programa de bachillerato se centra en la excelencia 
                            académica y en el desarrollo de habilidades avanzadas, como el pensamiento crítico, la investigación 
                            independiente y el liderazgo. Los estudiantes tienen la oportunidad de explorar a fondo áreas de interés, 
                            eligiendo entre una amplia gama de materias avanzadas y participando en proyectos de investigación que 
                            fomentan su curiosidad y creatividad. Además, nuestro enfoque en la ciudadanía global se fortalece en 
                            este nivel, alentando a los estudiantes a comprender y abordar cuestiones globales, contribuyendo a un 
                            mundo más inclusivo y sostenible. Los estudiantes de bachillerato del Colegio Naciones Unidas también 
                            tienen acceso a recursos y orientación para la planificación de su futuro académico y profesional, 
                            preparándolos para tomar decisiones informadas sobre sus carreras universitarias. En este nivel, 
                            estamos comprometidos en empoderar a nuestros estudiantes para que se conviertan en líderes responsables 
                            y ciudadanos comprometidos, listos para forjar un camino exitoso y significativo en su vida adulta.
                        </p>
                    </div>
                </div>

                <div class="img2"></div>
            </div>
        </div>
    </main>
    
    <footer>
        <div class="footer">
            <div class="conte">
                <div class="comunidad">
                    <h2>
                        Sobre nosotros
                    </h2>
    
                    <hr>
    
                    <ul>
                        <li>
                            Horizonte institucional
                        </li>
    
                        <li>
                            Ubicacion
                        </li>
                    </ul>
                </div>
    
                <div class="comunidad" id="comunidad">
                    <h2>
                        Comunidad
                    </h2>
    
                    <hr>
    
                    <ul>
                        <li>
                            Estudiantes 
                        </li>
    
                        <li>
                            Docentes
                        </li>
    
                        <li>
                            Talleres preparativos
                        </li>
    
                        <li>
                            Rendicion de cuentas
                        </li>
                    </ul>
                </div>
    
                <div class="comunidad" >
                    <h2>
                        Contactanos
                    </h2>
    
                    <hr>
    
                    <p class="loca">Localidad:</p>
                    <p class="des">10 - Engativa</p>
    
                    <p class="loca">Sede A:</p>
                    <p class="des">Dirección: CL 73 BIS 68 G - 27</p>
                    <p class="des">Telefono: 2502506</p>
    
                    <p class="loca">Sede B:</p>
                    <p class="des">Dirección: Cl. 73A #69j-10</p>
                    <p class="des">Teléfono: 12507823</p>
                </div> 
            </div>
            <hr class="linea">
            <p class="dere">
                Todos los derechos reservados © 2023 RQC  EDUCATIONAL INFORMATION 
            </p>
        </div>
    </footer>

    <script type="text/JavaScript" src="../assets/js/header.js" ></script>
</body>
</html>