<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/d42fb48da4.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="../../static/css/styleLogin.css">
    <link rel="Icon" href="../../static/img/logonaciones.png">
    <title>Colegio Naciones Unidas - Iniciar Sesion</title>
</head>
<body>
    <div class="conten">
        <div class="part1">
            <div class="user">
                <i class="fa-regular fa-user" ></i>
            </div>
            <form action="#">
                <h1>
                    Iniciar Sesion
                </h1>

                <div class="op">
                    <div class="input-box">
                        <span class="icon">
                            <i class="fa-solid fa-envelope"></i>
                        </span>
                        <input type="email" required>
                        <label>Email</label>
                    </div>
    
                    <div class="input-box">
                        <span class="icon">
                            <i class="fa-sharp fa-solid fa-lock"></i>
                        </span>
                        <input type="password" required>
                        <label>Contraseña</label>
                    </div>
                </div>

                <div class="remember-forgot">
                    <label>
                        <input type="checkbox">Recordar Siempre
                    </label>
                    <a href="#">olvidaste la contraseña?</a>
                </div>

                <button type="submit" class="btn">Ingresar</button>

                <div class="login-registrer">
                    <p>No eres miembro?<a href="#" class="registrer-link">Se parte de nosotros!!</a>
                    </p>
                </div>

                
            </form>
        </div>

        <div class="part2">

            <div class="para">
                <h1>
                    Bienvenido al <br> Colegio Naciones Unidas I.E.D
                </h1>

                <p>
                    Recuerda que la educación es el pasaporte hacia el futuro, porque el mañana pertenece a aquellos que se preparan hoy
                </p>
            </div>
        </div>
    </div>
</body>
</html>