<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/d42fb48da4.js" crossorigin="anonymous"></script>
    <link rel="Icon" href="../../../static/img/logonaciones.png">
    <link rel="stylesheet" href="../../../static/css/styleInfoDoc.css">
    <title>Administrador - informacion Docente</title>
</head>
<body>
    <header>
        <div class="head">
            <div class="title-logo">
                <div class="logo">
                    <img src="../../../static/img/logonaciones.png" alt="logo Colegio">
                </div>

                <div class="title">
                    <p> Colegio <p>
                    <p> Naciones Unidas I.E.D </p>
                </div>
            </div>

            <div class="hamburger">
                <div class="line"></div>
                <div class="line"></div>
                <div class="line"></div>
            </div>

            <div class="name">
                <p class="nombre"> Jaider Quimbaya </p>
                <p> COORDINADOR</p>
            </div>
            <nav class="nav-bar">
                <ul>
                    <div class="op">
                        <li>
                            <a href="indexAdmin.html" class="active">
                                <i class="fa-solid fa-house"></i> Inicio
                            </a>
                        </li>
    
                        <li>
                            <a href="courses.html">
                                <i class="fa-solid fa-graduation-cap"></i> Cursos
                            </a>
                        </li>
    
                        <li>
                            <a href="teachers.html">
                                <i class="fa-solid fa-person-chalkboard"></i> Docentes
                            </a>
                        </li>
    
                        <li>
                            <a href="schedule.html">
                                <i class="fa-solid fa-calendar"></i> Cronograma
                            </a>
                        </li>
    
                        <li>
                            <a href="reports.html">
                                <i class="fa-solid fa-book"></i> Reportes
                            </a>
                        </li>
                    </div>

                    <li>
                        <a href="#">
                            <i class="fa-solid fa-arrow-right-from-bracket"></i> Cerrar Sesión
                        </a>
                    </li>
                </ul>
            </nav>
            
        </div>
    </header>

    <main>
        <div class="per">
            <div class="perfin">
                <div class="fot">
                    <img src="../../../static/img/fotoperfil.png" alt="">
                </div>
                <div class="name-list">
                    <div class="name">
                        <h3>Uldarico Andrade Hernandez</h3>
                    </div>

                    <ul class="list">
                        <li>
                            <a href="">
                                <i class="fa-solid fa-bars"></i>
                                Informacion
                            </a>
                        </li>

                        <li>
                            <a href="">
                                <i class="fa-solid fa-users"></i>
                                Cursos
                            </a>
                        </li>
                    </ul>
                </div>
            </div>

        </div>

        <div class="conte">
            <div class="infor">
                <div class="title">
                    <h3>Información</h3>
                </div>

                <form action="">
                    <div class="info1">
                        <div class="segun">
                            <h4>Primer Nombre</h4>
                            <input type="text" name="primer nombre" placeholder="Primer Nombre">
                        </div>
    
                        <div class="segun">
                            <h4>Segundo Nombre</h4>
                            <input type="text" name="segundo nombre" placeholder="Segundo Nombre">
                        </div>
    
                        <div class="segun">
                            <h4>Primer Apellido</h4>
                            <input type="text" name="primer apellido" placeholder="Primer Apellido">
                        </div>
    
                        <div class="segun">
                            <h4>Segundo Apellido</h4>
                            <input type="text" name="segundo apellido" placeholder="Segundo Apellido">
                        </div>

                        <div class="segun">
                            <h4>Genero</h4>
                            <input type="text" name="genero" placeholder="Genero">
                        </div>
    
                        <div class="segun1">
                            <h4>Depto. de Nacimiento</h4>
                            <input type="text" name="nacimiento" placeholder="Depto. de Nacimiento">
                        </div>
    
                        <div class="segun1">
                            <h4>Municipio de Nacimiento</h4>
                            <input type="text" name="municipioNaci" placeholder="Municipio de Nacimiento">
                        </div>

                        <div class="segun2">
                            <h4>Fecha de Nacimiento</h4>
                            <input type="date" name="FechaNaci">
                        </div>
    
                        <div class="segun3">
                            <h4>Edad</h4>
                            <input type="text" name="edad" placeholder="Edad">
                        </div>
    
                        <div class="segun4">
                            <h4>Tipo de documento</h4>
                            <input type="text" name="Seleccionar" placeholder="Seleccionar">
                        </div>
    
                        <div class="segun4">
                            <h4>Numero documento</h4>
                            <input type="text" name="numberDocu" placeholder="Numero de documento">
                        </div>
    
                        <div class="segun5">
                            <h4>Localidad</h4>
                            <input type="text" name="Localidad" placeholder="Seleccionar">
                        </div>

                        <div class="segun2">
                            <h4>Barrio</h4>
                            <input type="text" name="barrio" placeholder="Barrio">
                        </div>
    
                        <div class="segun3">
                            <h4>Estrato</h4>
                            <input type="text" name="estrato" placeholder="Estrato">
                        </div>
    
                        <div class="segun4">
                            <h4>Direccion Residencia</h4>
                            <input type="text" name="direccion" placeholder="Direccion Residencia">
                        </div>
    
                        <div class="segun4">
                            <h4>Numero Fijo</h4>
                            <input type="number" name="numeroF" placeholder="Numero Fijo">
                        </div>
    
                        <div class="segun5">
                            <h4>Numero Celular</h4>
                            <input type="number" name="numeroC" placeholder="Numero Celular">
                        </div>

                        <div class="segun1">
                            <h4>Correo Electronico</h4>
                            <input type="text" name="Correo" placeholder="Correo Electronico">
                        </div>
    
                        <div class="segun1">
                            <h4>Contraseña</h4>
                            <input type="text" name="contra" placeholder="Contraseña Predeterminada">
                        </div>
    
                        <div class="segun1">
                            <h4>Confirmar Contraseña</h4>
                            <input type="text" name="contra" placeholder="Contraseña Predeterminada">
                        </div>
                    </div>
        
                    <div class="buttom">
                        <button>Actualizar Docente</button>
                    </div>
                </form>
            </div>

            <div class="course">
                <div class="title">
                    <h3>Cursos a Dictar</h3>
                </div>

                <div class="te">
                    <div class="dosD">
                        <div class="curso">
                            <div class="fot">
                                <h3>Curso</h3>
                                <h3>601</h3>
                            </div>

                            <div class="infor">
                                <div class="docen">
                                    <h4>Director de curso:</h4>
                                    <h4>Lorena Caro</h4>
                                </div>
            
                                <div class="asigna">
                                    <h4>Asigantura:</h4>
                                    <h4>Matematicas - Tecnologia</h4>
                                </div>
                            </div>

                            <div class="to">
                                <i class="fa-solid fa-graduation-cap"></i>
                                <h3>25</h3>
                            </div>
                        </div>

                        <div class="curso">
                            <div class="fot">
                                <h3>Curso</h3>
                                <h3>601</h3>
                            </div>

                            <div class="infor">
                                <div class="docen">
                                    <h4>Director de curso:</h4>
                                    <h4>Lorena Caro</h4>
                                </div>
            
                                <div class="asigna">
                                    <h4>Asigantura:</h4>
                                    <h4>Matematicas - Tecnologia</h4>
                                </div>
                            </div>

                            <div class="to">
                                <i class="fa-solid fa-graduation-cap"></i>
                                <h3>25</h3>
                            </div>
                        </div>

                        <div class="curso">
                            <div class="fot">
                                <h3>Curso</h3>
                                <h3>601</h3>
                            </div>

                            <div class="infor">
                                <div class="docen">
                                    <h4>Director de curso:</h4>
                                    <h4>Lorena Caro</h4>
                                </div>
            
                                <div class="asigna">
                                    <h4>Asigantura:</h4>
                                    <h4>Matematicas - Tecnologia</h4>
                                </div>
                            </div>

                            <div class="to">
                                <i class="fa-solid fa-graduation-cap"></i>
                                <h3>25</h3>
                            </div>
                        </div>

                        <div class="curso">
                            <div class="fot">
                                <h3>Curso</h3>
                                <h3>601</h3>
                            </div>

                            <div class="infor">
                                <div class="docen">
                                    <h4>Director de curso:</h4>
                                    <h4>Lorena Caro</h4>
                                </div>
            
                                <div class="asigna">
                                    <h4>Asigantura:</h4>
                                    <h4>Matematicas - Tecnologia</h4>
                                </div>
                            </div>

                            <div class="to">
                                <i class="fa-solid fa-graduation-cap"></i>
                                <h3>25</h3>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
    

    <script type="text/JavaScript" src="../../../static/js/header.js" ></script>
</body>
</html>