:root{
    --header: #010324;
    --blanco: #ffff;
    --button:#0066FF;
    --gris: #7b7b7b;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: 0;
    list-style: none;
    text-decoration: none;
}

body{
    display: flex;
}

/* Header */

header{
    width: 25%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--header);
}

header .head{
    width: 80%;
    height: 90%;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.title-logo{
    height: 3em;
    display: flex;
    align-items: center;
}

 .title-logo .logo{
    width: 4em;
    height: 100%;
}

.title-logo .logo img{
    width: 100%;
    height: 100%;
}

.title-logo .title{
    width: 100%;
    height: 100%;
    padding: 0px 5px 0px 5px;
    color: var(--blanco);
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.title-logo .title p{
    font-size: 1.2em;
}

.hamburger{
    display: none;
}

.name{
    width: 95%;
    color: var(--blanco);
}

.name .nombre{
    font-size: 1.2em;
}

.nav-bar {
    width: 95%;
    height: 55%;
    font-size: 1.2em;
}

.nav-bar .op{
    height: 60%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.nav-bar ul {
    height: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.nav-bar a{
    color: var(--blanco);
}

.button a{
    color: var(--blanco);
}

main{
    width: 75%;
    padding: 20px;
}

.crono{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.crono .header{
    width: 100%;
    height: 3em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.crono .header .head{
    width: 98%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header .op{
    width: 15%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.op .mo{
    width: 5em;
    height: 2.063em;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.mo i{
    font-size: 20px;
}

.mo .izq{
    width: 2.188em;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px 0px 0px 8px;
    background: var(--header);
    color: var(--blanco);
}

.mo .dere{
    width: 2.188em;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0px 8px 8px 0px;
    background: var(--header);
    color: var(--blanco);
}

.hoy{
    padding: 6px 7px;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    border-radius: 8px;
    background: var(--header);
    color: var(--blanco);
    font-size: 1.2em;
}

.mes h1{
    font-weight: 100;
}

.msd{
    width: 25%;
    height: 2.063em;
    display: flex;
    justify-content: space-between;
}

.msd h3{
    font-weight: 100;
}

.msd .mes{
    width: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px 0px 0px 8px;
    background: var(--header);
    color: var(--blanco);
}

.msd .sema{
    width: 45%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--header);
    color: var(--blanco);
}

.msd .dia{
    width: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0px 8px 8px 0px;
    background: var(--header);
    color: var(--blanco);
}

.crono .linea{
    width: 100%;
    height: 2px;
    background: var(--header);
}

.cronograma{
    width: 100%;
    height: 90%;
    display: flex;
    justify-content: space-between;
}

.cronograma .dia{
    width: 70%;
}

.cronograma .dia table{
    width: 100%;
    color: var(--blanco);
}


.cronograma .dia table thead tr th{
    padding: 0.1em;
    font-size: 1.2em;
    font-weight: 100;
    background: var(--header);
}

.cronograma .dia table tbody tr{
    height: 6.8em;
    border: 1px solid salmon;
}

.cronograma .dia table tbody td{
    border: 1px solid var(--gris);
}

.cronograma .inser {
    width: 25%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-left: 1px solid var(--gris);
}

.inser form{
    width: 90%;
    height: 90%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.inser form select{
    width: 100%;
    height: 6%;
    background: var(--header);
    color: var(--blanco);
    border: 0;
}

.inser .title {
    width: 100%;
}

.inser .title label{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
    background: var(--header);
    color: var(--blanco);
}

.inser .title label i{
    font-size: 10px;
    width: 8px;
    height: 10px;
}

.inser .title input{
    width: 100%;
    height: 63px;
    border: 1px solid var(--gris);
}

.inser .title2 {
    width: 100%;
}

.inser .title2 label{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
    background: var(--header);
    color: var(--blanco);
}

.inser .title2 label i{
    font-size: 10px;
    width: 8px;
    height: 10px;
}

.inser .title2 input{
    width: 100%;
    border: 1px solid var(--gris);
    border: 0;
}

.inser .bu{
    display: flex;
    justify-content: end;
}

.inser .bu button{
    padding: 5px 1.5em 5px 1.5em;
    background: var(--button);
    color: var(--blanco);
    border: 0;
    border-radius: 5px;
}

@media only screen and ( min-width: 1440px){

}

/* responsive de portatil */

@media only screen and ( max-width: 1024px){


}

/* responsive de tableta */

@media only screen and ( max-width: 768px){

    body{
        flex-direction: column;
    }

    header{
        width: 100%;
        padding: 0.7em 0px;
        height: 3.4em;
    }

    header .head{
        width: 90%;
        flex-direction: row;
        align-items: center;
        padding: 0;
    }

    .name{
        display: none;
    }
    .hamburger{
        display: block;
        cursor: pointer;
    }

    .hamburger .line{
        width: 30px;
        height: 3px;
        background: var(--blanco);
        margin: 6px 0;
    }

    .nav-bar{
        height: 0;
        position: absolute;
        top: 4em;
        left: 0;
        right: 0;
        width: 100%;
        background: var(--header);
        transition: 0.5s;
        overflow: hidden;
        display: flex;
        justify-content: center;
    }

    .nav-bar.active{
        height: 15em;
    }

    .nav-bar ul{
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        transition: 0.5s;
        opacity: 0;
    }

    .nav-bar ul .op{
        flex-direction: column;
        justify-content: space-around;

        height: 60%;
    }
    .nav-bar.active ul{
        width: 90%;
        opacity: 1;
    }

    main{
        width: 100%;
        height: 45em;
        padding: 0;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .crono{
        justify-content: space-around;
    }

    .header .op{
        width: 20%;
    }
    .cronograma{
        height: 85%;
    }
}

/* Responsive de movile */

@media only screen and ( max-width: 426px){

    main{
        width: 100%;
        height:70em;
        padding: 0px;
    }

    .crono{
        height: 100%;
        justify-content: space-around;
    }
    .header .op{
        width: 40%;
        height: auto;
    }

    .op .mo{
        width: 60%;
    }

    .mes h1{
        font-size: 1.5em;
        font-weight: 100;
    }

    .msd{
        display: none;
    }

    .cronograma{
        height: 90%;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
    }

    .cronograma .dia{
        width: 100%;
    }

    .cronograma .dia table thead tr th{
        padding: 5px;
        font-size: 1em;
    }

    .cronograma .dia table tbody tr{
        height: 5em;
        border: 1px solid salmon;
    }

    .cronograma .inser {
        width: 90%;
        height: 55%;
        border-left: 0;
    }
}