:root{
    --AzulOscuro: #010324;
    --azul: #0066FF;
    --blanco: white;
    --gris:#01032496;
    --gris2: #D9D9D9;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
}

/* header ------------ Encabezado de la pagina-------*/

header{
    position: fixed;
    padding: 10px;
    width: 100%;
    background-color: var(--gris);
    border-bottom: 1px solid var(--AzulOscuro);
    border-radius: .5em;
    transition: background-color 0.3s ease;
    z-index: 1000;
}

header.scrolled {
    background-color: var(--AzulOscuro); /* Cambia este color según tus preferencias */
}

header .head {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.head .title-logo{
    display: flex;
    align-items: center;
}

.title-logo img{
    width: 3.2em;
    height: 3em;
}

.title-logo h1{
    font-weight: 300;
    font-size: 1.2em;
    color: var(--blanco);
    margin-left: 10px;
}

.head .nav-bar .nav{
    display: flex;
    gap: 4em;
}

.nav-bar ul li a{
    text-decoration: none;
    color: var(--blanco);
}

.menu-item{
    color: var(--blanco);
    margin-left: 5em;
}

.menu-item i{
    margin-left: 5px;
}

.menu-item:hover .sub-menu {
    display: block;
}

.sub-menu {
    display: none;
    position: absolute;
    float: right;
    padding: 0;
    margin: 0;
    box-shadow: 0 1px 6px rgba(0, 0, 0, 0.1);
    background: var(--AzulOscuro);
}

.sub-menu li {
    display: block;
    text-align: end;
    color: var(--blanco);
    padding: 5px 1em;
}

.sub-menu li a {
    color: #fff;
    text-decoration: none;
    font-size: .8em;
}

.nav .obse{
    display: none;
}

.sub-menu li:hover {
    background-color: #555;
}

.nav-bar .op:hover,.op1:hover,.op2:hover,.op3:hover{
    border-bottom: 2px solid var(--azul) ;
}


.nav-bar .nav-button{
    margin-left: 10em;
    background: var(--azul);
    padding: 5px 1em;
    color: var(--blanco);
    border-radius: .5em;
}

.abrirMenu, .cerrarMenu{
    display: none;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5);
}
  
.modal-contenido {
    background-color: #fefefe;
    margin: 10% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 50%;
    max-height: 400px;
    overflow-y: auto;
}
  
.cerrar {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}

.modal-contenido form{
    margin-top: 1em;
}

form .title{
    background: var(--AzulOscuro);
    padding: .5em;
    color: var(--blanco);
    border-radius: .5em .5em 0 0;
    font-weight: 100;
}
form .info1{
    margin-top: .5em;
    padding: .5em;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    border: 1px solid var(--AzulOscuro);
}

form .info1 .segun h4{
    font-weight: 300;
    font-size: .9em;
}

form .info1 .segun input{
    padding: .2em;
    margin-top: 5px;
}

form .buttom button{
    float: right;
    margin: 1em;
    padding: .5em 1em;
    background: var(--azul);
    border: 0;
    color: var(--blanco);
    border-radius: .5em;
}

form .buttom button:hover{
    background: green;
}

/* ----MAIN------ Cuerpo de la pagina---------- */

.title-img{
    background: linear-gradient(to top, white, rgb(13, 0, 255));
    height: 20em;
    display: flex;
    justify-content: center;
    align-items: center;
}

.title-img h1{
    font-weight: 200;
    color: var(--gris);
    font-size: 2em;
}

/* nice scroll bar */
::-webkit-scrollbar {
    width: 5px;
}
::-webkit-scrollbar-track {
    background: #f5f5f5;
    border-radius: 50px;
}
::-webkit-scrollbar-thumb {
    background: var(--AzulOscuro);
    border-radius: 50px;
}

.container {
    position: relative;
    width: 1200px;
    min-height: 850px;
    margin: 1em auto;
    padding: 5px;
    color: #fff;
    display: flex;
    border-radius: 10px;
    background-color: var(--AzulOscuro);
}
.left {
    width: 60%;
    padding: 20px;
}
.calendar {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    color: #878895;
    border-radius: 5px;
    background-color: #fff;
}
  /* set after behind the main element */
.calendar::before,
.calendar::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 100%;
    width: 12px;
    height: 97%;
    border-radius: 0 5px 5px 0;
    background-color: #d3d4d6d7;
    transform: translateY(-50%);
}
.calendar::before {
    height: 94%;
    left: calc(100% + 12px);
    background-color: rgb(153, 153, 153);
}
.calendar .month {
    width: 100%;
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 50px;
    font-size: 1.2rem;
    font-weight: 500;
    text-transform: capitalize;
}
.calendar .month .prev,
.calendar .month .next {
    cursor: pointer;
}
.calendar .month .prev:hover,
.calendar .month .next:hover {
    color: var(--AzulOscuro);
}
.calendar .weekdays {
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    font-size: 1rem;
    font-weight: 500;
    text-transform: capitalize;
}
.weekdays div {
    width: 14.28%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.calendar .days {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0 20px;
    font-size: 1rem;
    font-weight: 500;
    margin-bottom: 20px;
}
.calendar .days .day {
    width: 14.28%;
    height: 90px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    color: var(--AzulOscuro);
    border: 1px solid #f5f5f5;
}
.calendar .days .day:nth-child(7n + 1) {
    border-left: 2px solid #f5f5f5;
}
.calendar .days .day:nth-child(7n) {
    border-right: 2px solid #f5f5f5;
}
.calendar .days .day:nth-child(-n + 7) {
    border-top: 2px solid #f5f5f5;
}
.calendar .days .day:nth-child(n + 29) {
    border-bottom: 2px solid #f5f5f5;
}
  
.calendar .days .day:not(.prev-date, .next-date):hover {
    color: #fff;
    background-color: var(--AzulOscuro);
}
.calendar .days .prev-date,
.calendar .days .next-date {
    color: #b3b3b3;
}
.calendar .days .active {
    position: relative;
    font-size: 2rem;
    color: #fff;
    background-color: var(--AzulOscuro);
}
.calendar .days .active::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    box-shadow: 0 0 10px 2px var(--AzulOscuro);
}
.calendar .days .today {
    font-size: 2rem;
}
.calendar .days .event {
    position: relative;
}
.calendar .days .event::after {
    content: "";
    position: absolute;
    bottom: 10%;
    left: 50%;
    width: 75%;
    height: 6px;
    border-radius: 30px;
    transform: translateX(-50%);
    background-color: var(--AzulOscuro);
}

.calendar .days .day:hover.event::after {
    background-color: #fff;
}

.calendar .days .active.event::after {
    background-color: #fff;
    bottom: 20%;
}

.calendar .days .active.event {
    padding-bottom: 10px;
}

.calendar .goto-today {
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 5px;
    padding: 0 20px;
    margin-bottom: 20px;
    color: var(--AzulOscuro);
}

.calendar .goto-today .goto {
    display: flex;
    align-items: center;
    border-radius: 5px;
    overflow: hidden;
    border: 1px solid var(--AzulOscuro);
}

.calendar .goto-today .goto input {
    width: 100%;
    height: 30px;
    outline: none;
    border: none;
    border-radius: 5px;
    padding: 0 20px;
    color: var(--AzulOscuro);
    border-radius: 5px;
}
.calendar .goto-today button {
    padding: 5px 10px;
    border: 1px solid var(--AzulOscuro);
    border-radius: 5px;
    background-color: transparent;
    cursor: pointer;
    color: var(--AzulOscuro);
}
.calendar .goto-today button:hover {
    color: #fff;
    background-color: var(--AzulOscuro);
}
.calendar .goto-today .goto button {
    border: none;
    border-left: 1px solid var(--AzulOscuro);
    border-radius: 0;
}
.container .right {
    position: relative;
    width: 40%;
    min-height: 100%;
    padding: 20px 0;
}
  
.right .today-date {
    width: 100%;
    height: 50px;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    align-items: center;
    justify-content: space-between;
    padding: 0 40px;
    padding-left: 70px;
    margin-top: 50px;
    margin-bottom: 20px;
    text-transform: capitalize;
}
.right .today-date .event-day {
    font-size: 2rem;
    font-weight: 500;
}
.right .today-date .event-date {
    font-size: 1rem;
    font-weight: 400;
    color: #878895;
}
.events {
    width: 100%;
    height: 100%;
    max-height: 600px;
    overflow-x: hidden;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    padding-left: 4px;
}
.events .event {
    position: relative;
    width: 95%;
    min-height: 70px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 5px;
    padding: 0 20px;
    padding-left: 50px;
    color: #fff;
    background: linear-gradient(90deg, #3f4458, transparent);
    cursor: pointer;
}

  /* even event */
  .events .event:nth-child(even) {
    background: transparent;
}
.events .event:hover {
    background: linear-gradient(90deg, var(--AzulOscuro), transparent);
}
.events .event .title {
    display: flex;
    align-items: center;
    pointer-events: none;
}
.events .event .title .event-title {
    font-size: 1rem;
    font-weight: 400;
    margin-left: 20px;
}
.events .event i {
    color: var(--AzulOscuro);
    font-size: 0.5rem;
}
.events .event:hover i {
    color: #fff;
}
.events .event .event-time {
    font-size: 0.8rem;
    font-weight: 400;
    color: #878895;
    margin-left: 15px;
    pointer-events: none;
}
.events .event:hover .event-time {
    color: #fff;
}
  /* add tick in event after */
.events .event::after {
    content: "✓";
    position: absolute;
    top: 50%;
    right: 0;
    font-size: 3rem;
    line-height: 1;
    display: none;
    align-items: center;
    justify-content: center;
    opacity: 0.3;
    color: var(--AzulOscuro);
    transform: translateY(-50%);
}
.events .event:hover::after {
    display: flex;
}
.add-event {
    position: absolute;
    bottom: 30px;
    right: 30px;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1rem;
    color: #878895;
    border: 2px solid #878895;
    opacity: 0.5;
    border-radius: 50%;
    background-color: transparent;
    cursor: pointer;
}
.add-event:hover {
    opacity: 1;
}
.add-event i {
    pointer-events: none;
}
.events .no-event {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
    font-weight: 500;
    color: #878895;
}
.add-event-wrapper {
    position: absolute;
    bottom: 100px;
    left: 50%;
    width: 90%;
    max-height: 0;
    overflow: hidden;
    border-radius: 5px;
    background-color: #fff;
    transform: translateX(-50%);
    transition: max-height 0.5s ease;
}
.add-event-wrapper.active {
    max-height: 300px;
}
.add-event-header {
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    color: #373c4f;
    border-bottom: 1px solid #f5f5f5;
}
.add-event-header .close {
    font-size: 1.5rem;
    cursor: pointer;
}
.add-event-header .close:hover {
    color: var(--AzulOscuro);
}
.add-event-header .title {
    font-size: 1.2rem;
    font-weight: 500;
}
.add-event-body {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding: 20px;
}
.add-event-body .add-event-input {
    width: 100%;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
}
.add-event-body .add-event-input input {
    width: 100%;
    height: 100%;
    outline: none;
    border: none;
    border-bottom: 1px solid #f5f5f5;
    padding: 0 10px;
    font-size: 1rem;
    font-weight: 400;
    color: #373c4f;
}
.add-event-body .add-event-input input::placeholder {
    color: #a5a5a5;
}
.add-event-body .add-event-input input:focus {
    border-bottom: 1px solid var(--AzulOscuro);
}
.add-event-body .add-event-input input:focus::placeholder {
    color: var(--AzulOscuro);
}
.add-event-footer {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
}
.add-event-footer .add-event-btn {
    height: 40px;
    font-size: 1rem;
    font-weight: 500;
    outline: none;
    border: none;
    color: #fff;
    background-color: var(--AzulOscuro);
    border-radius: 5px;
    cursor: pointer;
    padding: 5px 10px;
    border: 1px solid var(--AzulOscuro);
}

.add-event-footer .add-event-btn:hover {
    background-color: transparent;
    color: var(--AzulOscuro);
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5);
}
  
.modal-contenido {
    background-color: #fefefe;
    margin: 10% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 50%;
    max-height: 400px;
    overflow-y: auto;
}
  
.cerrar {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}

.modal-contenido table {
    width: 100%;
}

.modal-contenido table thead{
    background: var(--AzulOscuro);
    border: 1px solid var(--AzulOscuro);
    color: var(--blanco);
}

.modal-contenido table thead th{
    font-weight: 550;
}

.modal-contenido table th,td {
    padding: 8px;
    text-align: center;
}

.modal-contenido table tbody tr td input{
    cursor: pointer;
} 

.modal-contenido h2{
    color: var(--AzulOscuro);
}

.cerrar:hover,
.cerrar:focus {
    color: #000000;
    text-decoration: none;
    cursor: pointer;
}

.modal-contenido #guardarAsistencia{
    margin-top: 1.5em;
    border: 0;
    padding: 5px 1.5em;
    background: var(--azul);
    color: var(--blanco);
    border-radius: .5em;
    float:right;
    cursor: pointer;
}

.modal-contenido #guardarAsistencia:hover{
    background: green;
}

/* ---footer---- */

footer{
    height: auto;
    padding: 1em 2em;
    background: var(--AzulOscuro);
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer{
    width: 100%;
    
}

.conte{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}


.comunidad{
    width: 19.25em;
    color: var(--blanco);
}

.comunidad h2{
    font-size: 1.3em;
    font-weight: 100;
}

.comunidad hr{
    margin-top: 5px;
}

.comunidad ul{
    margin: 1em;
}

.comunidad ul li{
    margin-top: 10px;
}

.comunidad .loca{
    margin: 1em 1em 0;
}

.comunidad .des{
    margin: 0 2em 0;
}

.footer .linea{
    margin-top: 1em;
}

.dere {
    color: var(--blanco);
    text-align: center;
}

/* responsive de portatil */

@media only screen and ( max-width: 1024px ){

    .menu-item{
        margin-left: 1.5em;
    }
}


@media only screen and (max-width: 769px){

    header .head {
        justify-content: space-between;
    }

    .abrirMenu, .cerrarMenu{
        background-color: transparent;
        color: var(--blanco);
        display: block;
        border: 0;
        font-size: 1.5rem;
        cursor: pointer;
    }

    .nav-bar{
        width: 30%;
        height: 100vh;
        opacity: 0;
        visibility: hidden;
        display: flex;
        flex-direction: column;
        align-items: end;
        gap: 5rem;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        background: var(--AzulOscuro);
        padding: 1.5rem;
        box-shadow: 0 0 0 100vmax rgb(0, 0, 0, 0.35);
    }

    .nav-bar.visible{
        opacity: 1;
        visibility: visible;
    }

    .head .nav-bar .nav{
        flex-direction: column;
        align-items: end;
        gap: 2em;
    }

    .head .nav-bar .nav #obse{
        margin-top: 10em;
    }

    .nav-bar ul li a{
        color: var(--blanco);
    }
    
    .menu-item{
        display: none;
    }

    .nav .obse{
        display: block;
    }
    
    .nav-bar .nav-button{
        margin-left: 0px;
        background: transparent;
        padding: 0;
        border-radius: 0;
    }

    .title-img{
        height: 20em;
    }

    .title-img h1{
        text-align: center;
        font-size: 1.5em;
    }

    .container {
        width: 100%;
        flex-direction: column;
        border-radius: 0;
    }
    .container .left {
        width: 100%;
        height: 100%;
        padding: 20px 0;
    }
    .container .right {
        width: 100%;
        height: 100%;
        padding: 20px 0;
    }
    .calendar::before,
    .calendar::after {
        top: 100%;
        left: 50%;
        width: 97%;
        height: 12px;
        border-radius: 0 0 5px 5px;
        transform: translateX(-50%);
    }
    .calendar::before {
        width: 94%;
        top: calc(100% + 12px);
    }
    .events {
        padding-bottom: 340px;
    }
    .add-event-wrapper {
        bottom: 100px;
    }

}

@media only screen and ( max-width: 426px){
    .title-logo {
        width: 85%;
    }

    .nav-bar{
        width: 50%;
    }

    .title-img{
        height: 16em;
    }

    .title-img h1{
        text-align: center;
        font-size: 1em;
        color: var(--AzulOscuro);
    }

    .calendar .month {
        height: 75px;
    }
    .calendar .weekdays {
        height: 50px;
    }
    .calendar .days .day {
        height: 40px;
        font-size: 0.8rem;
    }
    .calendar .days .day.active,
    .calendar .days .day.today {
        font-size: 1rem;
    }
    .right .today-date {
        padding: 20px;
    }

    .modal-contenido{
        width: 80%;
        margin: 30% auto;
    }
}