:root{
    --AzulOscuro: #010324;
    --azul: #0066FF;
    --blanco: white;
    --gris:#01032496;
    --gris2: #D9D9D9;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
}

/* header ------------ Encabezado de la pagina-------*/

header{
    position: fixed;
    padding: 10px;
    width: 100%;
    background-color: var(--gris);
    border-bottom: 1px solid var(--AzulOscuro);
    border-radius: .5em;
    transition: background-color 0.3s ease;
    z-index: 1000;
}

header.scrolled {
    background-color: var(--AzulOscuro); /* Cambia este color según tus preferencias */
}

header .head {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.head .title-logo{
    display: flex;
    align-items: center;
}

.title-logo img{
    width: 3.2em;
    height: 3em;
}

.title-logo h1{
    font-weight: 300;
    font-size: 1.2em;
    color: var(--blanco);
    margin-left: 10px;
}

.head .nav-bar .nav{
    display: flex;
    gap: 4em;
}

.nav-bar ul li a{
    text-decoration: none;
    color: var(--blanco);
}

.menu-item{
    color: var(--blanco);
    margin-left: 5em;
}

.menu-item i{
    margin-left: 5px;
}

.menu-item:hover .sub-menu {
    display: block;
}

.sub-menu {
    display: none;
    position: absolute;
    float: right;
    padding: 0;
    margin: 0;
    box-shadow: 0 1px 6px rgba(0, 0, 0, 0.1);
    background: var(--AzulOscuro);
}

.sub-menu li {
    display: block;
    text-align: end;
    color: var(--blanco);
    padding: 5px 1em;
}

.sub-menu li a {
    color: #fff;
    text-decoration: none;
    font-size: .8em;
}

.nav .obse{
    display: none;
}

.sub-menu li:hover {
    background-color: #555;
}

.nav-bar .op:hover,.op1:hover,.op2:hover,.op3:hover{
    border-bottom: 2px solid var(--azul) ;
}


.nav-bar .nav-button{
    margin-left: 10em;
    background: var(--azul);
    padding: 5px 1em;
    color: var(--blanco);
    border-radius: .5em;
}

.abrirMenu, .cerrarMenu{
    display: none;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5);
}
  
.modal-contenido {
    background-color: #fefefe;
    margin: 10% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 50%;
    max-height: 400px;
    overflow-y: auto;
}
  
.cerrar {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}

.modal-contenido form{
    margin-top: 1em;
}

form .title{
    background: var(--AzulOscuro);
    padding: .5em;
    color: var(--blanco);
    border-radius: .5em .5em 0 0;
    font-weight: 100;
}
form .info1{
    margin-top: .5em;
    padding: .5em;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    border: 1px solid var(--AzulOscuro);
}

form .info1 .segun h4{
    font-weight: 300;
    font-size: .9em;
}

form .info1 .segun input{
    padding: .2em;
    margin-top: 5px;
}

form .buttom button{
    float: right;
    margin: 1em;
    padding: .5em 1em;
    background: var(--azul);
    border: 0;
    color: var(--blanco);
    border-radius: .5em;
}

form .buttom button:hover{
    background: green;
}

/* ----MAIN------ Cuerpo de la pagina---------- */

.title-img{
    background: linear-gradient(to top, white, rgb(13, 0, 255));
    height: 20em;
    display: flex;
    justify-content: center;
    align-items: center;
}

.title-img h1{
    font-weight: 200;
    color: var(--gris);
    font-size: 2em;
}

.nota{
    width: 100%;
    padding: 3em;
    text-align: center;
    overflow: auto;
}

.nota thead{
    background: var(--AzulOscuro);
    color: var(--blanco);
}

.nota thead tr th{
    padding: 5px 1.5em;
    font-weight: 100;
}

.nota thead tr .materia{
    padding: 5px 5em;
    align-items: start;
}

.nota tbody tr td{
    border: 1px solid var(--AzulOscuro);
}

.nota tbody tr .area{
    text-align: start;
    padding: .5em ;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5);
}
  
.modal-contenido {
    background-color: #fefefe;
    margin: 10% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 50%;
    max-height: 400px;
    overflow-y: auto;
}
  
.cerrar {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}

.modal-contenido table {
    width: 100%;
}

.modal-contenido table thead{
    background: var(--AzulOscuro);
    border: 1px solid var(--AzulOscuro);
    color: var(--blanco);
}

.modal-contenido table thead th{
    font-weight: 550;
}

.modal-contenido table th,td {
    padding: 8px;
    text-align: center;
}

.modal-contenido table tbody tr td input{
    cursor: pointer;
} 

.modal-contenido h2{
    color: var(--AzulOscuro);
}

.cerrar:hover,
.cerrar:focus {
    color: #000000;
    text-decoration: none;
    cursor: pointer;
}

.modal-contenido #guardarAsistencia{
    margin-top: 1.5em;
    border: 0;
    padding: 5px 1.5em;
    background: var(--azul);
    color: var(--blanco);
    border-radius: .5em;
    float:right;
    cursor: pointer;
}

.modal-contenido #guardarAsistencia:hover{
    background: green;
}
/* ---footer---- */

footer{
    height: auto;
    padding: 1em 2em;
    background: var(--AzulOscuro);
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer{
    width: 100%;
    
}

.conte{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}


.comunidad{
    width: 19.25em;
    color: var(--blanco);
}

.comunidad h2{
    font-size: 1.3em;
    font-weight: 100;
}

.comunidad hr{
    margin-top: 5px;
}

.comunidad ul{
    margin: 1em;
}

.comunidad ul li{
    list-style: inside;
    margin-top: 10px;
}

.comunidad .loca{
    margin: 1em 1em 0;
}

.comunidad .des{
    margin: 0 2em 0;
}

.footer .linea{
    margin-top: 1em;
}

.dere {
    color: var(--blanco);
    text-align: center;
}


/* responsive de portatil */

@media only screen and ( max-width: 1024px ){

    .menu-item{
        margin-left: 1.5em;
    }
}


@media only screen and (max-width: 769px){

    header .head {
        justify-content: space-between;
    }

    .abrirMenu, .cerrarMenu{
        background-color: transparent;
        color: var(--blanco);
        display: block;
        border: 0;
        font-size: 1.5rem;
        cursor: pointer;
    }

    .nav-bar{
        width: 30%;
        height: 100vh;
        opacity: 0;
        visibility: hidden;
        display: flex;
        flex-direction: column;
        align-items: end;
        gap: 5rem;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        background: var(--AzulOscuro);
        padding: 1.5rem;
        box-shadow: 0 0 0 100vmax rgb(0, 0, 0, 0.35);
    }

    .nav-bar.visible{
        opacity: 1;
        visibility: visible;
    }

    .head .nav-bar .nav{
        flex-direction: column;
        align-items: end;
        gap: 2em;
    }

    .head .nav-bar .nav #obse{
        margin-top: 10em;
    }

    .nav-bar ul li a{
        color: var(--blanco);
    }
    
    .menu-item{
        display: none;
    }

    .nav .obse{
        display: block;
    }
    
    .nav-bar .nav-button{
        margin-left: 0px;
        background: transparent;
        padding: 0;
        border-radius: 0;
    }

    .title-img{
        height: 20em;
    }

    .title-img h1{
        text-align: center;
        font-size: 1.5em;
    }

}

@media only screen and ( max-width: 426px){
    .title-logo {
        width: 85%;
    }

    .nav-bar{
        width: 50%;
    }

    .title-img{
        height: 16em;
    }

    .title-img h1{
        text-align: center;
        font-size: 1em;
        color: var(--AzulOscuro);
    }

    .nota{
        padding: 1em;
    }

    .nota thead tr th{
        padding: .5em 1em;
        font-size: .8em;
    }

    .nota thead tr .materia{
        padding: 0;
    }
}