<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/d42fb48da4.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="../../../static/css/styleProfile.css">
    <link rel="ICON" href="../../../static/img/logonaciones.png">
    <title>Colegio Naciones Unidas - Perfil</title>
</head>
<body>
    <header>
        <div class="head">
            <div class="title-logo">
                <img src="../../../static/img/logonaciones.png" alt="Logo-Empresa">
                <h1 class="title">Colegio Naciones Unidas I.E.D</h1>
            </div>

            <button id="abrir" class="abrirMenu"><i class="fa-solid fa-bars"></i></button>
            <nav id="menu" class="nav-bar">
                <button id="cerrar" class="cerrarMenu"><i class="fa-solid fa-x"></i></button>
                <ul class="nav">
                    <li><a href="indexTeacher.html" class="op">Inicio</a></li>
                    <li><a href="attendance.html" class="op1">Asistencia</a></li>
                    <li><a href="schedule.html" class="op2">Cronograma</a></li>
                    <li><a href="grades.html" class="op3">Notas</a></li>

                    <li class="menu-item">Mi cuenta<i class="fa-solid fa-user"></i>
                        <ul class="sub-menu">
                            <li><a href="profile.html">Mi Perfil</a></li>
                            <li><a href="">Cerrar <i class="fa-solid fa-arrow-right-from-bracket"></i></a></li>
                        </ul>
                    </li>

                    <li class="obse"><a href="profile.html">Mi Perfil</a></li>
                    <li id="obse" class="obse"><a href="#">Salir <i class="fa-solid fa-arrow-right-from-bracket"></i></a></li>
                </ul>
            </nav>
        </div>
    </header>

    <main>
        <div class="title-img">
            <h1>
                Mi Informacion
            </h1>
        </div>

        <div class="info">
            <div class="perfil">
                <div class="fot">
                    <img src="../../../static/img/fotoperfil.png" alt="FotoPerfil">
                </div>
                <div class="name-list">
                    <div class="name">
                        <h3>Uldarico Andrade Hernandez</h3>
                    </div>

                    <ul class="list">
                        <li>
                            <a href="">
                                <i class="fa-solid fa-bars"></i>
                                Informacion
                            </a>
                        </li>

                        <li>
                            <a href="">
                                <i class="fa-solid fa-users"></i>
                                Cursos
                            </a>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="conte">
                <div class="infor">
                    <div class="title">
                        <h3>Información</h3>
                    </div>
    
                    <form action="">
                        <div class="info1">
                            <div class="segun">
                                <h4>Primer Nombre</h4>
                                <input type="text" name="primer nombre" placeholder="Primer Nombre">
                            </div>
        
                            <div class="segun">
                                <h4>Segundo Nombre</h4>
                                <input type="text" name="segundo nombre" placeholder="Segundo Nombre">
                            </div>
        
                            <div class="segun">
                                <h4>Primer Apellido</h4>
                                <input type="text" name="primer apellido" placeholder="Primer Apellido">
                            </div>
        
                            <div class="segun">
                                <h4>Segundo Apellido</h4>
                                <input type="text" name="segundo apellido" placeholder="Segundo Apellido">
                            </div>
    
                            <div class="segun">
                                <h4>Genero</h4>
                                <input type="text" name="genero" placeholder="Genero">
                            </div>
        
                            <div class="segun">
                                <h4>Depto. de Nacimiento</h4>
                                <input type="text" name="nacimiento" placeholder="Depto. de Nacimiento">
                            </div>
        
                            <div class="segun">
                                <h4>Municipio de Nacimiento</h4>
                                <input type="text" name="municipioNaci" placeholder="Municipio de Nacimiento">
                            </div>
    
                            <div class="segun">
                                <h4>Fecha de Nacimiento</h4>
                                <input type="date" name="FechaNaci">
                            </div>
        
                            <div class="segun">
                                <h4>Edad</h4>
                                <input type="number" name="edad" placeholder="Edad">
                            </div>
        
                            <div class="segun">
                                <h4>Tipo de documento</h4>
                                <input type="text" name="Seleccionar" placeholder="Seleccionar">
                            </div>
        
                            <div class="segun">
                                <h4>Numero documento</h4>
                                <input type="number" name="numberDocu" placeholder="Numero de documento">
                            </div>
        
                            <div class="segun">
                                <h4>Localidad</h4>
                                <input type="text" name="Localidad" placeholder="Seleccionar">
                            </div>
    
                            <div class="segun">
                                <h4>Barrio</h4>
                                <input type="text" name="barrio" placeholder="Barrio">
                            </div>
        
                            <div class="segun">
                                <h4>Estrato</h4>
                                <input type="number" name="estrato" placeholder="Estrato">
                            </div>
        
                            <div class="segun">
                                <h4>Direccion Residencia</h4>
                                <input type="text" name="direccion" placeholder="Direccion Residencia">
                            </div>
        
                            <div class="segun">
                                <h4>Numero Fijo</h4>
                                <input type="number" name="numeroF" placeholder="Numero Fijo">
                            </div>
        
                            <div class="segun">
                                <h4>Numero Celular</h4>
                                <input type="number" name="numeroC" placeholder="Numero Celular">
                            </div>
    
                            <div class="segun">
                                <h4>Correo Electronico</h4>
                                <input type="text" name="Correo" placeholder="Correo Electronico">
                            </div>
        
                            <div class="segun">
                                <h4>Contraseña</h4>
                                <input type="text" name="contra" placeholder="Contraseña Predeterminada">
                            </div>
        
                            <div class="segun">
                                <h4>Confirmar Contraseña</h4>
                                <input type="text" name="contra" placeholder="Contraseña Predeterminada">
                            </div>
                        </div>
            
                        <div class="buttom">
                            <button>Actualizar Docente</button>
                        </div>
                    </form>
                </div>
    
                <div class="course">
                    <div class="title">
                        <h3>Cursos a Dictar</h3>
                    </div>
    
                    <div class="te">
                        <div class="dosD">
                            <div class="curso">
                                <div class="fot">
                                    <h3>Curso</h3>
                                    <h3>601</h3>
                                </div>
    
                                <div class="infor">
                                    <div class="docen">
                                        <h4>Director de curso:</h4>
                                        <h4>Lorena Caro</h4>
                                    </div>
                
                                    <div class="asigna">
                                        <h4>Asigantura:</h4>
                                        <h4>Matematicas - Tecnologia</h4>
                                    </div>
                                </div>
    
                                <div class="to">
                                    <i class="fa-solid fa-graduation-cap"></i>
                                    <h3>25</h3>
                                </div>
                            </div>
    
                            <div class="curso">
                                <div class="fot">
                                    <h3>Curso</h3>
                                    <h3>601</h3>
                                </div>
    
                                <div class="infor">
                                    <div class="docen">
                                        <h4>Director de curso:</h4>
                                        <h4>Lorena Caro</h4>
                                    </div>
                
                                    <div class="asigna">
                                        <h4>Asigantura:</h4>
                                        <h4>Matematicas - Tecnologia</h4>
                                    </div>
                                </div>
    
                                <div class="to">
                                    <i class="fa-solid fa-graduation-cap"></i>
                                    <h3>25</h3>
                                </div>
                            </div>
    
                            <div class="curso">
                                <div class="fot">
                                    <h3>Curso</h3>
                                    <h3>601</h3>
                                </div>
    
                                <div class="infor">
                                    <div class="docen">
                                        <h4>Director de curso:</h4>
                                        <h4>Lorena Caro</h4>
                                    </div>
                
                                    <div class="asigna">
                                        <h4>Asigantura:</h4>
                                        <h4>Matematicas - Tecnologia</h4>
                                    </div>
                                </div>
    
                                <div class="to">
                                    <i class="fa-solid fa-graduation-cap"></i>
                                    <h3>25</h3>
                                </div>
                            </div>
    
                            <div class="curso">
                                <div class="fot">
                                    <h3>Curso</h3>
                                    <h3>601</h3>
                                </div>
    
                                <div class="infor">
                                    <div class="docen">
                                        <h4>Director de curso:</h4>
                                        <h4>Lorena Caro</h4>
                                    </div>
                
                                    <div class="asigna">
                                        <h4>Asigantura:</h4>
                                        <h4>Matematicas - Tecnologia</h4>
                                    </div>
                                </div>
    
                                <div class="to">
                                    <i class="fa-solid fa-graduation-cap"></i>
                                    <h3>25</h3>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>

    <footer>
        <div class="footer">
            <div class="conte">
                <div class="comunidad">
                    <h2>
                        Sobre nosotros
                    </h2>
    
                    <hr>
    
                    <ul>
                        <li>
                            Horizonte institucional
                        </li>
    
                        <li>
                            Ubicacion
                        </li>
                    </ul>
                </div>
    
                <div class="comunidad" id="comunidad">
                    <h2>
                        Comunidad
                    </h2>
    
                    <hr>
    
                    <ul>
                        <li>
                            Estudiantes 
                        </li>
    
                        <li>
                            Docentes
                        </li>
    
                        <li>
                            Talleres preparativos
                        </li>
    
                        <li>
                            Rendicion de cuentas
                        </li>
                    </ul>
                </div>
    
                <div class="comunidad" >
                    <h2>
                        Contactanos
                    </h2>
    
                    <hr>
    
                    <p class="loca">Localidad:</p>
                    <p class="des">10 - Engativa</p>
    
                    <p class="loca">Sede A:</p>
                    <p class="des">Dirección: CL 73 BIS 68 G - 27</p>
                    <p class="des">Telefono: 2502506</p>
    
                    <p class="loca">Sede B:</p>
                    <p class="des">Dirección: Cl. 73A #69j-10</p>
                    <p class="des">Teléfono: 12507823</p>
                </div> 
            </div>
            
            <hr class="linea">
            <p class="dere">
                Todos los derechos reservados © 2023 RQC  EDUCATIONAL INFORMATION 
            </p>
        </div>
    </footer>
    
    <script src="../../../static/js/Script.js"></script>
</body>
</html>